%text-align {
  text-align: center;
}

%one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%light {
  background-color: #fefefe;
  color: #010101;
}

%dark {
  background-color: #010101;
  color: #fefefe;
}